html, body{
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, Hiragino Sans GB, \5B8B\4F53;
    counter-reset: level1 0 table 0 annex 0 note 0;
}
.content img {
    margin:auto;
    max-width:100%;
}
figure{
    margin:1em;
}
code.block {
    border: solid 1px #ABCDF3;
    background: rgb(247,250,254);
    font-family: droid sans mono, consolas, monaco;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    color: #005A9C;
    font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
p::before {
    content: "　　";
}
.note {
    color: darkgreen
}
.note > p:nth-child(1):before {
    content: "　　注：";
}
code.block {
    white-space: pre-line;
    margin: 1em;
    padding: 1em;
}

ul, ol {
    margin:1em;
}
.block {
    display: block;
}
table {
    border-collapse: collapse;
    border: solid 1px black;
}
table td, table th {
    border: solid 1px black;
}
figure.table figcaption::before {
    counter-increment: table;
    content: "表" counter(table) " —— ";
}
figure {
    text-align: center;
}
figure table {
    margin-left: auto;
    margin-right: auto;
}
h1.chapter {
    counter-reset: level2 0;
}
h2.chapter {
    counter-reset: level3 0;
}
h3.chapter {
    counter-reset: level4 0;
}
h4.chapter {
    counter-reset: level5 0;
}
h5.chapter {
    counter-reset: level6 0;
}

h1.chapter:before {
    counter-increment: level1;
    content: counter(level1) " ";
}
h2.chapter:before {
    counter-increment: level2;
    content: counter(level1) "." counter(level2) " ";
}
h3.chapter:before {
    counter-increment: level3;
    content: counter(level1) "." counter(level2) "." counter(level3) " ";
}
h4.chapter:before {
    counter-increment: level4;
    content: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) " ";
}
h5.chapter:before {
    counter-increment: level5;
    content: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) "." counter(level5) " ";
}
h6.chapter:before {
    counter-increment: level6;
    content: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) "." counter(level5) "." counter(level6) " ";
}

h1.annex {
    counter-reset: level2 0;
}
h2.annex {
    counter-reset: level3 0;
}
h3.annex {
    counter-reset: level4 0;
}
h1.annex:before {
    counter-increment: annex;
    content: "附录" counter(annex, upper-latin) " ";
}
h2.annex:before {
    counter-increment: level2;
    content: counter(annex, upper-latin) "." counter(level2) " ";
}
h3.annex:before {
    counter-increment: level3;
    content: counter(annex, upper-latin) "." counter(level2) "." counter(level3) " ";
}
ol {
    list-style-type: decimal;
}

ol ol {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    list-style-type: lower-latin;
}
ol ol ol {
    list-style-type: lower-roman;
}
ol ol ol ol {
    list-style-type: decimal;
}
ol ol ol ol ol {
    list-style-type: lower-latin;
}
ol ol ol ol ol ol {
    list-style-type: lower-roman;
}

ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}
ul ol {
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}
.toc li {
    list-style-type: none;
}
.toc {
    counter-reset: toclevel1 0 tocannex 0;
    padding-left: 0;
    overflow: visible;
    width: auto;
    white-space: nowrap;
}

.toc a, a:link, a:visited {
    color: #005A9C;
    font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;
}
.toc ol, li {
    overflow: visible;
    width: auto;
}

.toc > li > a.chapter {
    counter-reset: toclevel2 0;
}
.toc > li > ol > li > a.chapter {
    counter-reset: toclevel3 0;
}
.toc > li > ol > li > ol > li > a.chapter {
    counter-reset: toclevel4 0;
}
.toc > li > ol > li > ol > li > ol > li > a.chapter {
    counter-reset: toclevel5 0;
}
.toc > li > ol > li > ol > li > ol > li > ol > li > a.chapter {
    counter-reset: toclevel6 0;
}

.toc > li > a.annex {
    counter-reset: toclevel2 0;
}
.toc > li > ol > li > a.annex {
    counter-reset: toclevel3 0;
}
.toc > li > ol > li > ol > li > a.annex {
    counter-reset: toclevel4 0;
}

.toc a.chapter:before {
    counter-increment: toclevel1;
    content: counter(toclevel1) " ";
}
.toc ol a.chapter:before {
    counter-increment: toclevel2;
    content: counter(toclevel1) "." counter(toclevel2) " ";
}
.toc ol ol a.chapter:before {
    counter-increment: toclevel3;
    content: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) " ";
}
.toc ol ol ol a.chapter:before {
    counter-increment: toclevel4;
    content: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) "." counter(toclevel4) " ";
}
.toc ol ol ol ol a.chapter:before {
    counter-increment: toclevel5;
    content: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) "." counter(toclevel4) "." counter(toclevel5) " ";
}
.toc ol ol ol ol ol a.chapter:before {
    counter-increment: toclevel6;
    content: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) "." counter(toclevel4) "." counter(toclevel5) "." counter(toclevel6) " ";
}

.toc a.annex:before {
    counter-increment: tocannex;
    content: "附录" counter(tocannex, upper-latin) " ";
}
.toc ol a.annex:before {
    counter-increment: toclevel2;
    content: counter(tocannex, upper-latin) "." counter(toclevel2) " ";
}
.toc ol ol a.annex:before {
    counter-increment: toclevel3;
    content: counter(tocannex, upper-latin) "." counter(toclevel2) "." counter(toclevel3) " ";
}
.toc a {
    cursor: pointer;
}
.nav {
    max-width:400px;
    overflow:scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: -400px;
    z-index: 1000;
    position: fixed;
    background-color: #f7f5fa;
}
.switch{
    position:fixed;
    bottom: 10px;
    left:0;
    z-index: 9999;
    padding:5px 0;
    width:20px;
    text-align:center;
    background: #005A9C;
    color:#ccc;
    cursor:pointer;
}
/* 大屏幕 */
@media (min-width: 1700px) {
    .content.hasNav{
        margin: auto;
    }
}
@media (min-width: 1300px) {
    .content.hasNav{
        margin-left: 400px;
    }
}
 
/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
    .jiathis_style{
        display:none;
   }
}
 
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
    .switch, #ujian-touch{
        display:none;
    }
}
.content{
    margin: auto;
    max-width: 880px;
    padding: 10px;
}
.nav a{
    color: #428bca;
    text-decoration: none;
}
.nav li.active > a{
    font-weight: bold;
    color: #563d7c;
    text-decoration: underline;
}
.jiathis_style table, .jiathis_style td {
    border: 0;
}